.modal-dialog
  .modal-content
    
    h1.big-font(data-i18n="play.items")
    
    div#gems-count-container
      img(src="/images/common/gem.png")
      span#gems-count.big-font= gems
    
    div#close-modal
      span.glyphicon.glyphicon-remove
    
    ul.nav.nav-pills.nav-stacked
      for category, index in itemCategories
        li(class=index ? "" : "active")
          a(href="#item-category-" + category, data-toggle="tab")
            span.big-font= itemCategoryNames[index]
    
    
    .tab-content
      for category, index in itemCategories
        .tab-pane(id="item-category-" + category, class=index ? "" : "active")
          .nano
            .nano-content
              for item in itemCategoryCollections[category].models
                .item(data-item-id=item.id)
                  strong.big-font= item.name
                  img.item-img(src=item.getPortraitURL())
                  img.item-shadow(src=item.getPortraitURL())
                  span.cost
                    img(src="/images/common/gem.png")
                    span.big-font= item.get('gems')
                  button.btn.unlock-button.big-font(data-i18n="play.unlock")
              .clearfix
              
    #item-details-view
